

.programDiv {

    background-color: var(--mainContentColor2);
    padding: 10px;
    border: 2px solid var(--accentColor1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.programDiv h2 {

    align-self: center;
}

.programDiv p {

    margin: 2px;
}